<%= form_for(@timeline) do |f| %>
  <% if @timeline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:</h2>

      <ul>
      <% @timeline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :timesheet_task_id %><br />
    <%= f.text_field :timesheet_task_id %>
  </div>
  <div class="field">
    <%= f.label :owner_id %><br />
    <%= select :timeline, :owner_id, owners_global %>
  </div>
  <div class="field">
    <%= f.label :predecessor_id %><br />
    <%= f.text_field :predecessor_id %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
  </div>
  <div class="field">
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :delay %><br />
    <%= f.text_field :delay %>
  </div>
  <div class="field">
    <%= f.label :is_resolved %><br />    
    <%= check_box('timeline', 'is_resolved') %>
  </div>
  <div class="field">
    <%= f.label :is_in_progress %><br />
    <%= check_box('timeline', 'is_in_progress') %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
